@font-face {
  font-family: belleza;
  src: url(Belleza-Regular.ttf);
}

body {
  font-family: belleza;
  height: 100vh;
  margin: 0;
  background-color: #ececec;
  overflow: hidden;
}

/* login page */

#bonVoyage {
  margin-top: 1%;
  display: flex;
  height: 90vh;
  width: 100%;
}

.description,
.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
}

.description {
  margin-left: 70px;
  height: auto;
}

.login {
  background-color: rgba(93, 157, 189, 0.5);
  border-radius: 40px;
  margin-right: 70px;
  margin-left: 10px;
  height: auto;
  margin-top: 3%;


}

#logo {
  position: relative;
  bottom: 120px;
  height: 350px;
  width: 430px;
}

h1 {
  font-size: 110px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.phrase {
  font-size: 30px;
  padding: 5px;
  position: absolute;
  top: 360px;
}


.title {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 30px;

}

#password,
#email {
  border: none;
  border-radius: 30px;
  height: 35px;
  width: 330px;
  font-size: 15px;
  margin: 10px;
  background-color: #ececec;
}

label {
  font-size: 25px;
  margin-left: -27%
}

#signUp,
#register,
#google {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  font-size: 22px;
  border: none;
  font-family: belleza;
  background-color: #ececec;
}

.or {
  font-size: 28px;
  margin: 15px;
}

#signUp:hover,
#register:hover,
#google:hover,
#password:hover,
#email:hover {
  background-color: #081922;
  color: white;
  cursor: pointer;
}

.footer {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 30px;
}

.linkedin {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('https://img.freepik.com/premium-vector/linkedin-logo_578229-227.jpg');
  background-size: cover;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.github {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* dashboard Page */

.menu {
  display: flex;
  width: auto;
  height: 180px;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 90px;
  margin-left: 50px
}

#welcome {
  font-size: 45px;
}

.logout {
  font-size: 25px;
  margin-right: 180px;
  border: none;
  background-color: transparent;
  font-family: belleza;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px
}

.logout:hover {
  background-color: #303466;
  color: white;
}

#logoo {
  position: absolute;
  bottom: 15px;
  width: 320px;
  height: 320px;
  margin-left: 45px;
}

.feed {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
}

.postArea {
  background-color: rgba(93, 157, 189, 0.5);
  margin-right: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border-radius: 45px;
}

.textArea {
  margin-top: 40px;
  width: 87%;
  height: 20%;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: belleza;
}

.textArea::-webkit-scrollbar {
  width: 13px;
}

.textArea::-webkit-scrollbar-thumb {
  background-color: rgba(93, 157, 189, 0.5);
  border-radius: 6px;
}

.textArea::-webkit-scrollbar-thumb:hover {
  background-color: #303466;
}

.send {
  margin-top: 15px;
  margin-left: 740px;
  padding: 12px;
  font-size: 25px;
  font-family: belleza;
  background-color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.send:hover {
  background-color: #303466;
  color: white;
}

.menu {
  display: flex;
  width: auto;
  height: 180px;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 90px;
  margin-left: 50px;
  font-weight: 100;
}

#welcome {
  font-size: 45px;
}

.logout {
  font-size: 25px;
  margin-right: 180px;
  border: none;
  background-color: transparent;
  font-family: belleza;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px
}

.logout:hover {
  background-color: #303466;
  color: white;
}

#logoo {
  position: absolute;
  bottom: 15px;
  width: 320px;
  height: 320px;
  margin-left: 45px;
  z-index: -1;
}

.feed {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
}

.postArea {
  background-color: rgba(93, 157, 189, 0.5);
  margin-right: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border-radius: 45px;
}

.textArea {
  margin-top: 40px;
  width: 87%;
  height: 20%;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: belleza;
}

.textArea::-webkit-scrollbar {
  width: 13px;
}

.textArea::-webkit-scrollbar-thumb {
  background-color: rgba(93, 157, 189, 0.5);
  border-radius: 6px;
}

.textArea::-webkit-scrollbar-thumb:hover {
  background-color: #303466;
}

.send {
  margin-top: 15px;
  margin-left: auto;
  margin-right: 6.5%;
  padding: 12px;
  font-size: 25px;
  font-family: belleza;
  background-color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.send:hover {
  background-color: #303466;
  color: white;
}

.footer {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

.linkedin {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('https://img.freepik.com/premium-vector/linkedin-logo_578229-227.jpg');
  background-size: cover;
  margin-left: 25px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.github {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Responsive dashbord page */

@media (max-width: 768px) {

  .menu {
    color: #000000;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .feed {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footer {
    color: #000000;
    text-align: center;
    padding: 10px;
  }

  .textArea {
    width: 90%;
    border-radius: 10px;

  }

  .postArea {
    width: 90%;
    border-radius: 20px;
    margin: 0;
  }

  .send {
    margin-top: 10px;
  }

  h2 {
    font-size: 10vw;
    margin: 0;
    align-self: center;
    order: 1;
    margin-right: 8%;
    font-weight: 100;

  }

  #welcome {
    text-align: center;
    font-size: 5.2vw;
    padding: 2vw;
    order: 3;
    flex-wrap: wrap;
  }

  #logoo {
    position: relative;
    margin-top: 30px;
    order: 0;
    width: auto;
    height: 40%;
    margin-left: 5%;


  }

  .logout {
    position: relative;
    order: 4;
    margin-right: 1%;
    text-align: center;
    font-size: 5.2vw;
    padding: 2vw;
  }

  body::-webkit-scrollbar {
    width: 13px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgba(93, 157, 189, 0.5);
    border-radius: 6px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: #303466;
  }
}

/*Responsivo do Login*/

@media (max-width: 768px) {
  #bonVoyage {
    margin-top: 0.5%;
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .description,
  .login {
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 100%;
  }

  .description {
    order: 0;
  }

  .login {
    order: 1;
  }

  #logo {
    margin-left: -27%;
    width: 40%;
    height: 40%;
    margin-top: -110px;
  }

  h1 {
    margin-top: -35%;
    font-size: 300%;
    margin-left: -27%;
    font-weight: 100;
  }

  .title {
    margin-left: -33%;
    font-size: 110%;
  }

  .phrase {
    display: none;
  }

  .login {
  width: 95%;
  margin-top: -50%;

  }

  label {
    margin-left: -230px;
  }
}